# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
*.egg-info/

# Unit test / coverage reports
.coverage
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.venv
venv/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# IDE project files
.idea/
